<div class="row">
	<div class="col-md-12" ng-show="tarefas.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
		<div class= "navbar-header" >
			<a class="btn btn-lg btn-success" href="#/edit-tarefa/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Adicionar nova Tarefa</a>
		</div>
    </nav>
    <table class="table table-striped table-bordered">
		<thead>
			<th>Tarefa&nbsp;</th>
			<th>Descrição&nbsp;</th>
			<th>Prioridade&nbsp;</th>
			<th>Ações&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in tarefas">
                <td>{{data.tarefa}}</td>
                <td>{{data.descricao}}</td>
                <td>{{data.prioridade}}</td>
                <td><a href="#/edit-tarefa/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Editar Tarefa</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="tarefas.length == 0">
        <div class="col-md-12">
            <h4>Nenhuma tarefa localizada</h4>
        </div>
    </div>
</div>